.vs/
x64/
x86/
Debug/
Release/
ARM/
ARM64/

*.vcxproj.user
*.suo
*.user
*.userosscache
*.sln.docstates
*.aps
*.opendb
*.db

*.obj
*.pdb
*.ilk
*.idb
*.gch
*.pch
*.ipch
*.tlog
*.lastbuildstate
*.log
*.iobj
*.ipdb
*.exp

*.exe
*.dll
*.lib

*.bin

Thumbs.db
Desktop.ini

!*.sln
!*.vcxproj
!*.vcxproj.filters