x64/
x86/
Debug/
Release/
ARM/
ARM64/
.vs/
build/
out/
CMakeFiles/

*.user
*.suo
*.userosscache
*.sln.docstates
*.aps
*.opendb
*.db
*.ipch

*.obj
*.pdb
*.ilk
*.idb
*.gch
*.pch
*.tlog
*.lastbuildstate
*.log
*.iobj
*.ipdb
*.exp
*.exe
*.dll
*.lib
*.bin

CMakeCache.txt
cmake_install.cmake
Makefile
CTestTestfile.cmake

Thumbs.db
Desktop.ini

!*.sln
!*.vcxproj
!*.vcxproj.filters
!*.h
!*.hpp
!*.cpp